<!--
  Software Engineer: Félix Arturo Hinojosa Reyna
  The following code has been created as an assessment for the position of Web Designer at Odoo Mexico.
-->
<div class="container-fluid">
  <!--MENU-->
  <div class="row bg-primary">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#">
          <img src="../assets/images/odoo-white.png" alt="Odoo" width="100">
        </a>
        <div class="mx-auto">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Pages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">App</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Docs</a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Sign In</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-light">
                <span class="pr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                  </svg>
                </span>
                <span class="text-small">Buy now</span>
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!--FIRST SECTION-->
  <div class="row bg-primary">
    <div class="col-6 first-part">
      <div>
        <h1 class="text-white">Development<br>done right</h1>
        <p class="text-white">Build a beautiful, modern website with<br>flexible components from scratch</p>
        <button type="button" class="btn btn-light">
          <span class="text-small">Get started</span>
          <span class="pl-2 pb-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg>
          </span>
        </button>
        <div class="d-flex flex-row align-items-center">
          <p class="text-white" style="margin-top: 10px; margin-right: 20px;">Trusted by: </p>
          <img src="../assets/images/google-white.png" alt="google" style="width: 10%; height: 10%; margin-right: 5px">
          <img src="../assets/images/spotify-white.png" alt="spotify"
            style="width: 10%; height: 10%; margin-right: 5px">
          <img src="../assets/images/airbnb-white.png" alt="airbnb" style="width: 10%; height: 10%; margin-right: 5px">
          <img src="../assets/images/paypal-white.png" alt="paypal" style="width: 10%; height: 10%; margin-right: 5px">
        </div>
      </div>
    </div>
    <div class="col-6 second-part">
      <div class=" col-9 card rounded-bottom-right">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <p style="margin-top: 10px;">Manage cards</p>
            <button type="button" class="btn btn-light">
              Add new
            </button>
          </div>
          <div class="justify-content-center">
            <img class="pt-2" src="../assets/images/card.png" style="width: 100%;">
          </div>

          <div class="d-flex flex-row justify-content-between pt-2">
            <p class="pl-2"><b>Starbucks</b></p>
            <p class="pr-2">$5,50 USD</p>
          </div>
          <div>
            <p class="text-muted pl-2">Pending - San Francisco, United States</p>
          </div>
          <hr class="mx-3" />
          <div class="d-flex flex-row justify-content-between pt-2">
            <p class="pl-2"><b>Nike Sports</b></p>
            <p class="pr-2">$129,00 USD</p>
          </div>
          <div>
            <p class="text-muted pl-2">Pending - Lisbon, Portugal</p>
          </div>
          <hr class="mx-3" />
          <button type="button" class="btn btn-link text-primary">View all</button>
        </div>
      </div>
    </div>
  </div>
  <!--SECOND SECTION-->
  <div class="row second-section">
    <div class="col-6 sec-second-section">
      <div class="video-container">
        <img class="rounded" src="../assets/images/img_01.jpg" alt="Happy People" style="width: 80%;">
        <button class="btn btn-light play-button" type="button">
          <span>
            Play video
          </span>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill"
              viewBox="0 0 16 16">
              <path
                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
            </svg>
          </span>
        </button>
      </div>
    </div>
    <div class="col-6 fourth-second-section">
      <p class="col-2 text-center text-white border border-warning rounded-pill bg-warning">Tools</p>
      <h5>We build for designers and<br>developers</h5>
      <p class="text-muted">Get components and examples, including tons of<br>variables that will help you grow your business.</p>
    </div>
  </div>
  <!--THIRD SECTION-->
  <div class="row third-section">
    <div class="col-6 third-first-section">
      <p class="col-3 text-center text-white border border-success rounded-pill bg-success">Features</p>
      <h5>Get components and examples, including<br>tons of variables that will help you grow your<br> business.</h5>
      <p class="text-success">✅ Perfect for modern startups</p>
      <p class="text-success">✅ Fully customizable and scalable</p>
    </div>
    <div class="col-6 third-second-section">
      <div class="video-container">
        <img class="rounded" src="../assets/images/img_02.jpg" alt="Descripción de la imagen" style="width: 70%;">
        <button class="btn btn-light play-button" type="button">
          <span>
            Play video
          </span>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill"
              viewBox="0 0 16 16">
              <path
                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
  <!--FOURTH SECTION-->
  <div class="row fourth-section">
    <div class="col-6">
      <div>
        <img class="rounded" src="../assets/images/img_04.png" alt="Social designs" style="width: 60%; margin-left: 200px;" >
      </div>
    </div>
    <div class="col-6 fourth-second-section">
      <p class="col-2 text-center text-white border border-primary rounded-pill bg-primary">Technology</p>
      <h5>We use the latest<br>technologies on the market</h5>
      <p class="text-muted">Get components and examples, including tons of<br>variables that will help you grow your business.</p>
      <button type="button" class="btn btn-link text-primary">View all</button>
    </div>
  </div>
  <!--FIFTH SECTION-->
  <div class="row fifth-section">
    <div class="col-6 fifth-first-section">
      <p class="col-4 text-center text-white border border-warning rounded-pill bg-warning ">Easy to install</p>
      <h5>Download, install and run.</h5>
      <p class="text-muted">Get components and examples, including tons of variables<br> that will help you grow your business.</p>
      <div>
        <a href="#"><img class="rounded" src="../assets/images/apple.png" style="width: 30%;"></a>
        <a href="#"><img class="rounded" src="../assets/images/android.png" style="width: 30%;"></a>
      </div>
    </div>
    <div class="col-6 fifth-second-section">
      <div class="video-container">
        <img class="rounded" src="../assets/images/img_03.jpg" alt="Happy People" style="width: 70%;">
        <button class="btn btn-light play-button" type="button">
          <span>
            Play video
          </span>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill"
              viewBox="0 0 16 16">
              <path
                d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
  <!--SIXTH SECTION-->
  <div class="row sixth-section">
    <div class="col-12">
      <div class="card card-sixth-bg">
        <div class="row">
          <div class="col-6 partOne-sixth">
            <h4 class="text-white">Infinite solutions</h4>
            <h6 class="text-white">Intiutive markup, powerful and lightning fast build tools,<br>everything you need to
              turn your ideas into incredible products.</h6>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-light partTwo-sixth">
              <span>Learn more</span>
              <span class="pl-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--seventh section-->
  <div class="row seventh-section">
    <div class="col-12">
      <div class="row">
        <div class="col header-seventh">
          <p class="col-1 text-center text-white border border-primary rounded-pill bg-primary ">Awards</p>
          <p class="font-weight-bolder">Awards for design, creativity and innovation on the internet</p>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex flex-row cards-container">
          <!--Cards with values-->
          <!--Card Airbnb-->
          <div class="col-2 card d-flex justify-content-center align-items-center card-item card-down">
            <img class="image-card" src="../assets/images/airbnb.png" style="width: 70%;">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <p>⭐⭐⭐⭐</p>
            </div>
            <p class="font-weight-bolder">4.95 out of 5 starts</p>
            <p class="text-muted">from 23 reviews</p>
          </div>
          <!--Card Amazon-->
          <div class="col-2 card d-flex justify-content-center align-items-center card-item">
            <img class="image-card" src="../assets/images/amazon.png" style="width: 70%;">
            <p class="text-muted text-center">They build modern<br>looking websites easily<br>using Tabs.</p>
            <button class="learn-more-button font-weight-bold">Learn more</button>
          </div>
          <!--Card Slack-->
          <div class="col-2 card d-flex justify-content-center align-items-center card-item card-down">
            <img class="image-card" src="../assets/images/slack.png" style="width: 70%;">
            <p class="text-muted text-center">They build modern<br>looking websites easily<br>using Tabs.</p>
            <button class="learn-more-button font-weight-bold">Learn more</button>
          </div>
          <!--Card Spotify-->
          <div class="col-2 card d-flex justify-content-center align-items-center card-item">
            <img class="image-card" src="../assets/images/spotify.png" style="width: 70%;">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <p>⭐⭐⭐⭐</p>
            </div>
            <p class="font-weight-bolder">4.95 out of 5 starts</p>
            <p class="text-muted">from 23 reviews</p>
          </div>
          <!--Card Paypal-->
          <div class="col-2 card d-flex justify-content-center align-items-center card-item card-down">
            <img class="image-card" src="../assets/images/paypal.png" style="width: 70%;">
            <p class="text-muted text-center">They build modern<br>looking websites easily<br>using Tabs.</p>
            <button class="learn-more-button font-weight-bold">Learn more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Helpful answers-->
  <div class="row answers">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <h4>Helpful answers</h4>
      <p class="text-muted">Start building fast, beautiful and modern looking websites in no time.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 accordion-table">
      <ul class="accordion">
        <li *ngFor="let item of accordionItems.slice(0, 3)" [class.active]="item.active">
          <p (click)="toggleAccordion(item)">{{ item.title }}</p>
          <div class="content" *ngIf="item.active">
            {{ item.content }}
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6 accordion-table-right">
      <ul class="accordion">
        <li *ngFor="let item of accordionItems.slice(3, 6)" [class.active]="item.active">
          <p (click)="toggleAccordion(item)">{{ item.title }}</p>
          <div class="content" *ngIf="item.active">
            {{ item.content }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--Start Project-->
  <div class="row start-project">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <button class="learn-more-button font-weight-bold">I want to start a project</button>
      <div class="d-flex justify-content-center align-items-center btns-container">
        <button type="button" class="btn btn-primary mr-3">Buy now</button>
        <button type="button" class="btn btn-light">Learn more</button>
      </div>
    </div>
  </div>
  <!--Footer-->
  <div class="row footer">
    <div class="col-6 footer-titles">
      <h5 class="text-white">Brilliant solutions for your ideas</h5>
      <p class="text-white">Modern looking websites</p>
    </div>
    <div class="col-6 footer-btns">
      <button type="button" class="btn btn-light mr-3">📒 Documentation</button>
      <button type="button" class="btn btn-primary">Purchase now</button>
    </div>
  </div>
  <div class="row footer">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3" style="padding-left: 200px;">
          <img src="../assets/images/odoo-white.png" alt="Odoo" width="100">
          <p class="text-white">Odoo attempts to bring the best development<br>experience to designers and developers by offering<br>the tools needed for having a quick and solid start in<br>most web projects.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-2 mb-md-0 mb-3">
          <h5 class="text-white">Account</h5>
          <ul class="list-unstyled">
            <li>
              <a class="text-white" href="#!">Profile</a>
            </li>
            <li>
              <a class="text-white" href="#!">Settings</a>
            </li>
            <li>
              <a class="text-white" href="#!">Billing</a>
            </li>
            <li>
              <a class="text-white" href="#!">Notifications</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">
          <h5 class="text-white">About</h5>
          <ul class="list-unstyled">
            <li>
              <a class="text-white" href="#!">Services</a>
            </li>
            <li>
              <a class="text-white" href="#!">Pricing</a>
            </li>
            <li>
              <a class="text-white" href="#!">Contact</a>
            </li>
            <li>
              <a class="text-white" href="#!">Careers</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">
          <h5 class="text-white">Company</h5>
          <ul class="list-unstyled">
            <li>
              <a class="text-white" href="#!">Community</a>
            </li>
            <li>
              <a class="text-white" href="#!">Help center</a>
            </li>
            <li>
              <a class="text-white" href="#!">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>